<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdc.active.dao.BuildingMapper" >
  <resultMap id="BaseResultMap" type="com.fdc.active.domain.Building" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="residential_sub_id" property="residentialSubId" jdbcType="VARCHAR" />
    <result column="buliding_num" property="bulidingNum" jdbcType="VARCHAR" />
    <result column="cells_num" property="cellsNum" jdbcType="INTEGER" />
    <result column="floor_num" property="floorNum" jdbcType="INTEGER" />
    <result column="open_time" property="openTime" jdbcType="BIGINT" />
    <result column="open_show_time" property="openShowTime" jdbcType="VARCHAR" />
    <result column="junction_room_time" property="junctionRoomTime" jdbcType="BIGINT" />
    <result column="junction_room_show_time" property="junctionRoomShowTime" jdbcType="VARCHAR" />
    <result column="complete_time" property="completeTime" jdbcType="BIGINT" />
    <result column="complete_show_time" property="completeShowTime" jdbcType="VARCHAR" />
    <result column="check_in_time" property="checkInTime" jdbcType="BIGINT" />
    <result column="check_in_show_time" property="checkInShowTime" jdbcType="VARCHAR" />
    <result column="share" property="share" jdbcType="REAL" />
    <result column="households" property="households" jdbcType="INTEGER" />
    <result column="proportion_of_household" property="proportionOfHousehold" jdbcType="VARCHAR" />
    <result column="pre_sale_permit" property="preSalePermit" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="sale_state" property="saleState" jdbcType="VARCHAR" />
    <result column="residential_info_id" property="residentialInfoId" jdbcType="VARCHAR" />
    <result column="del_state" property="delState" jdbcType="VARCHAR" />
    <result column="olddb_base_id" property="olddbBaseId" jdbcType="VARCHAR" />
    <result column="olddb_saleinfo_id" property="olddbSaleinfoId" jdbcType="VARCHAR" />
    <result column="building_label" property="buildingLabel" jdbcType="VARCHAR" />
    <result column="housing_type_id" property="housingTypeId" jdbcType="VARCHAR" />
    <result column="sharding_id" property="shardingId" jdbcType="VARCHAR" />
    <result column="sunshine_time" property="sunshineTime" jdbcType="REAL" />
    <result column="bind" property="bind" jdbcType="VARCHAR" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="building_desc" property="buildingDesc" jdbcType="VARCHAR" />
    <result column="building" property="building" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, residential_sub_id, buliding_num, cells_num, floor_num, open_time, open_show_time, 
    junction_room_time, junction_room_show_time, complete_time, complete_show_time, check_in_time, 
    check_in_show_time, share, households, proportion_of_household, pre_sale_permit, 
    create_time, update_time, sale_state, residential_info_id, del_state, olddb_base_id, 
    olddb_saleinfo_id, building_label, housing_type_id, sharding_id, sunshine_time, bind, 
    orientation, building_desc, building, tags
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from building
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from building
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fdc.active.domain.Building" >
    insert into building (id, residential_sub_id, buliding_num, 
      cells_num, floor_num, open_time, 
      open_show_time, junction_room_time, junction_room_show_time, 
      complete_time, complete_show_time, check_in_time, 
      check_in_show_time, share, households, 
      proportion_of_household, pre_sale_permit, create_time, 
      update_time, sale_state, residential_info_id, 
      del_state, olddb_base_id, olddb_saleinfo_id, 
      building_label, housing_type_id, sharding_id, 
      sunshine_time, bind, orientation, 
      building_desc, building, tags
      )
    values (#{id,jdbcType=VARCHAR}, #{residentialSubId,jdbcType=VARCHAR}, #{bulidingNum,jdbcType=VARCHAR}, 
      #{cellsNum,jdbcType=INTEGER}, #{floorNum,jdbcType=INTEGER}, #{openTime,jdbcType=BIGINT}, 
      #{openShowTime,jdbcType=VARCHAR}, #{junctionRoomTime,jdbcType=BIGINT}, #{junctionRoomShowTime,jdbcType=VARCHAR}, 
      #{completeTime,jdbcType=BIGINT}, #{completeShowTime,jdbcType=VARCHAR}, #{checkInTime,jdbcType=BIGINT}, 
      #{checkInShowTime,jdbcType=VARCHAR}, #{share,jdbcType=REAL}, #{households,jdbcType=INTEGER}, 
      #{proportionOfHousehold,jdbcType=VARCHAR}, #{preSalePermit,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{saleState,jdbcType=VARCHAR}, #{residentialInfoId,jdbcType=VARCHAR}, 
      #{delState,jdbcType=VARCHAR}, #{olddbBaseId,jdbcType=VARCHAR}, #{olddbSaleinfoId,jdbcType=VARCHAR}, 
      #{buildingLabel,jdbcType=VARCHAR}, #{housingTypeId,jdbcType=VARCHAR}, #{shardingId,jdbcType=VARCHAR}, 
      #{sunshineTime,jdbcType=REAL}, #{bind,jdbcType=VARCHAR}, #{orientation,jdbcType=VARCHAR}, 
      #{buildingDesc,jdbcType=VARCHAR}, #{building,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fdc.active.domain.Building" >
    insert into building
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="residentialSubId != null" >
        residential_sub_id,
      </if>
      <if test="bulidingNum != null" >
        buliding_num,
      </if>
      <if test="cellsNum != null" >
        cells_num,
      </if>
      <if test="floorNum != null" >
        floor_num,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="openShowTime != null" >
        open_show_time,
      </if>
      <if test="junctionRoomTime != null" >
        junction_room_time,
      </if>
      <if test="junctionRoomShowTime != null" >
        junction_room_show_time,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="completeShowTime != null" >
        complete_show_time,
      </if>
      <if test="checkInTime != null" >
        check_in_time,
      </if>
      <if test="checkInShowTime != null" >
        check_in_show_time,
      </if>
      <if test="share != null" >
        share,
      </if>
      <if test="households != null" >
        households,
      </if>
      <if test="proportionOfHousehold != null" >
        proportion_of_household,
      </if>
      <if test="preSalePermit != null" >
        pre_sale_permit,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="saleState != null" >
        sale_state,
      </if>
      <if test="residentialInfoId != null" >
        residential_info_id,
      </if>
      <if test="delState != null" >
        del_state,
      </if>
      <if test="olddbBaseId != null" >
        olddb_base_id,
      </if>
      <if test="olddbSaleinfoId != null" >
        olddb_saleinfo_id,
      </if>
      <if test="buildingLabel != null" >
        building_label,
      </if>
      <if test="housingTypeId != null" >
        housing_type_id,
      </if>
      <if test="shardingId != null" >
        sharding_id,
      </if>
      <if test="sunshineTime != null" >
        sunshine_time,
      </if>
      <if test="bind != null" >
        bind,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="buildingDesc != null" >
        building_desc,
      </if>
      <if test="building != null" >
        building,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="residentialSubId != null" >
        #{residentialSubId,jdbcType=VARCHAR},
      </if>
      <if test="bulidingNum != null" >
        #{bulidingNum,jdbcType=VARCHAR},
      </if>
      <if test="cellsNum != null" >
        #{cellsNum,jdbcType=INTEGER},
      </if>
      <if test="floorNum != null" >
        #{floorNum,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=BIGINT},
      </if>
      <if test="openShowTime != null" >
        #{openShowTime,jdbcType=VARCHAR},
      </if>
      <if test="junctionRoomTime != null" >
        #{junctionRoomTime,jdbcType=BIGINT},
      </if>
      <if test="junctionRoomShowTime != null" >
        #{junctionRoomShowTime,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=BIGINT},
      </if>
      <if test="completeShowTime != null" >
        #{completeShowTime,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null" >
        #{checkInTime,jdbcType=BIGINT},
      </if>
      <if test="checkInShowTime != null" >
        #{checkInShowTime,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        #{share,jdbcType=REAL},
      </if>
      <if test="households != null" >
        #{households,jdbcType=INTEGER},
      </if>
      <if test="proportionOfHousehold != null" >
        #{proportionOfHousehold,jdbcType=VARCHAR},
      </if>
      <if test="preSalePermit != null" >
        #{preSalePermit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="saleState != null" >
        #{saleState,jdbcType=VARCHAR},
      </if>
      <if test="residentialInfoId != null" >
        #{residentialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="delState != null" >
        #{delState,jdbcType=VARCHAR},
      </if>
      <if test="olddbBaseId != null" >
        #{olddbBaseId,jdbcType=VARCHAR},
      </if>
      <if test="olddbSaleinfoId != null" >
        #{olddbSaleinfoId,jdbcType=VARCHAR},
      </if>
      <if test="buildingLabel != null" >
        #{buildingLabel,jdbcType=VARCHAR},
      </if>
      <if test="housingTypeId != null" >
        #{housingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="shardingId != null" >
        #{shardingId,jdbcType=VARCHAR},
      </if>
      <if test="sunshineTime != null" >
        #{sunshineTime,jdbcType=REAL},
      </if>
      <if test="bind != null" >
        #{bind,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="buildingDesc != null" >
        #{buildingDesc,jdbcType=VARCHAR},
      </if>
      <if test="building != null" >
        #{building,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fdc.active.domain.Building" >
    update building
    <set >
      <if test="residentialSubId != null" >
        residential_sub_id = #{residentialSubId,jdbcType=VARCHAR},
      </if>
      <if test="bulidingNum != null" >
        buliding_num = #{bulidingNum,jdbcType=VARCHAR},
      </if>
      <if test="cellsNum != null" >
        cells_num = #{cellsNum,jdbcType=INTEGER},
      </if>
      <if test="floorNum != null" >
        floor_num = #{floorNum,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=BIGINT},
      </if>
      <if test="openShowTime != null" >
        open_show_time = #{openShowTime,jdbcType=VARCHAR},
      </if>
      <if test="junctionRoomTime != null" >
        junction_room_time = #{junctionRoomTime,jdbcType=BIGINT},
      </if>
      <if test="junctionRoomShowTime != null" >
        junction_room_show_time = #{junctionRoomShowTime,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=BIGINT},
      </if>
      <if test="completeShowTime != null" >
        complete_show_time = #{completeShowTime,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null" >
        check_in_time = #{checkInTime,jdbcType=BIGINT},
      </if>
      <if test="checkInShowTime != null" >
        check_in_show_time = #{checkInShowTime,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=REAL},
      </if>
      <if test="households != null" >
        households = #{households,jdbcType=INTEGER},
      </if>
      <if test="proportionOfHousehold != null" >
        proportion_of_household = #{proportionOfHousehold,jdbcType=VARCHAR},
      </if>
      <if test="preSalePermit != null" >
        pre_sale_permit = #{preSalePermit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="saleState != null" >
        sale_state = #{saleState,jdbcType=VARCHAR},
      </if>
      <if test="residentialInfoId != null" >
        residential_info_id = #{residentialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="delState != null" >
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
      <if test="olddbBaseId != null" >
        olddb_base_id = #{olddbBaseId,jdbcType=VARCHAR},
      </if>
      <if test="olddbSaleinfoId != null" >
        olddb_saleinfo_id = #{olddbSaleinfoId,jdbcType=VARCHAR},
      </if>
      <if test="buildingLabel != null" >
        building_label = #{buildingLabel,jdbcType=VARCHAR},
      </if>
      <if test="housingTypeId != null" >
        housing_type_id = #{housingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="shardingId != null" >
        sharding_id = #{shardingId,jdbcType=VARCHAR},
      </if>
      <if test="sunshineTime != null" >
        sunshine_time = #{sunshineTime,jdbcType=REAL},
      </if>
      <if test="bind != null" >
        bind = #{bind,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="buildingDesc != null" >
        building_desc = #{buildingDesc,jdbcType=VARCHAR},
      </if>
      <if test="building != null" >
        building = #{building,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fdc.active.domain.Building" >
    update building
    set residential_sub_id = #{residentialSubId,jdbcType=VARCHAR},
      buliding_num = #{bulidingNum,jdbcType=VARCHAR},
      cells_num = #{cellsNum,jdbcType=INTEGER},
      floor_num = #{floorNum,jdbcType=INTEGER},
      open_time = #{openTime,jdbcType=BIGINT},
      open_show_time = #{openShowTime,jdbcType=VARCHAR},
      junction_room_time = #{junctionRoomTime,jdbcType=BIGINT},
      junction_room_show_time = #{junctionRoomShowTime,jdbcType=VARCHAR},
      complete_time = #{completeTime,jdbcType=BIGINT},
      complete_show_time = #{completeShowTime,jdbcType=VARCHAR},
      check_in_time = #{checkInTime,jdbcType=BIGINT},
      check_in_show_time = #{checkInShowTime,jdbcType=VARCHAR},
      share = #{share,jdbcType=REAL},
      households = #{households,jdbcType=INTEGER},
      proportion_of_household = #{proportionOfHousehold,jdbcType=VARCHAR},
      pre_sale_permit = #{preSalePermit,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      sale_state = #{saleState,jdbcType=VARCHAR},
      residential_info_id = #{residentialInfoId,jdbcType=VARCHAR},
      del_state = #{delState,jdbcType=VARCHAR},
      olddb_base_id = #{olddbBaseId,jdbcType=VARCHAR},
      olddb_saleinfo_id = #{olddbSaleinfoId,jdbcType=VARCHAR},
      building_label = #{buildingLabel,jdbcType=VARCHAR},
      housing_type_id = #{housingTypeId,jdbcType=VARCHAR},
      sharding_id = #{shardingId,jdbcType=VARCHAR},
      sunshine_time = #{sunshineTime,jdbcType=REAL},
      bind = #{bind,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=VARCHAR},
      building_desc = #{buildingDesc,jdbcType=VARCHAR},
      building = #{building,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getAll" resultMap="BaseResultMap" parameterType="com.fdc.active.domain.Building">
    SELECT id,bind,residential_info_id,buliding_num from building
    where 1=1
    <if test="residentialInfoId != null">
      and residential_info_id = #{residentialInfoId,jdbcType=VARCHAR}
    </if>
    and del_state = '0'
     order by create_time desc
  </select>


</mapper>