<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdc.active.dao.HousingTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fdc.active.domain.HousingTypeInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="residential_sub_id" property="residentialSubId" jdbcType="VARCHAR" />
    <result column="housing_type_name" property="housingTypeName" jdbcType="VARCHAR" />
    <result column="acreage" property="acreage" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="total_price" property="totalPrice" jdbcType="REAL" />
    <result column="room_type_id" property="roomTypeId" jdbcType="VARCHAR" />
    <result column="sell_out" property="sellOut" jdbcType="VARCHAR" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="house_label" property="houseLabel" jdbcType="VARCHAR" />
    <result column="decoration_situation_id" property="decorationSituationId" jdbcType="VARCHAR" />
    <result column="housing_img" property="housingImg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="residential_info_id" property="residentialInfoId" jdbcType="VARCHAR" />
    <result column="del_state" property="delState" jdbcType="VARCHAR" />
    <result column="olddb_base_id" property="olddbBaseId" jdbcType="VARCHAR" />
    <result column="olddb_phase_id" property="olddbPhaseId" jdbcType="VARCHAR" />
    <result column="olddb_room_id" property="olddbRoomId" jdbcType="VARCHAR" />
    <result column="shortkey" property="shortkey" jdbcType="VARCHAR" />
    <result column="sharding_id" property="shardingId" jdbcType="VARCHAR" />
    <result column="stare_times" property="stareTimes" jdbcType="INTEGER" />
    <result column="room_type_name" property="roomTypeName" jdbcType="VARCHAR" />
    <result column="sell_status" property="sellStatus" jdbcType="VARCHAR" />
    <result column="avag_price" property="avagPrice" jdbcType="INTEGER" />
    <result column="covered_area" property="coveredArea" jdbcType="REAL" />
    <result column="inside_space" property="insideSpace" jdbcType="REAL" />
    <result column="housing_img_id" property="housingImgId" jdbcType="VARCHAR" />
    <result column="tags_ids" property="tagsIds" jdbcType="VARCHAR" />
    <result column="floor_height" property="floorHeight" jdbcType="REAL" />
    <result column="family_property" property="familyProperty" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="CHAR" />
    <result column="recommend_time" property="recommendTime" jdbcType="BIGINT" />
    <result column="how_many_bedrooms" property="howManyBedrooms" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fdc.active.domain.HousingTypeInfoWithBLOBs" extends="BaseResultMap" >
    <result column="housing_desc" property="housingDesc" jdbcType="LONGVARCHAR" />
    <result column="house_type_tag" property="houseTypeTag" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, residential_sub_id, housing_type_name, acreage, price, total_price, room_type_id, 
    sell_out, orientation, house_label, decoration_situation_id, housing_img, create_time, 
    update_time, residential_info_id, del_state, olddb_base_id, olddb_phase_id, olddb_room_id, 
    shortkey, sharding_id, stare_times, room_type_name, sell_status, avag_price, covered_area, 
    inside_space, housing_img_id, tags_ids, floor_height, family_property, recommend, 
    recommend_time, how_many_bedrooms
  </sql>
  <sql id="Blob_Column_List" >
    housing_desc, house_type_tag
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from housing_type_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from housing_type_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fdc.active.domain.HousingTypeInfoWithBLOBs" >
    insert into housing_type_info (id, residential_sub_id, housing_type_name, 
      acreage, price, total_price, 
      room_type_id, sell_out, orientation, 
      house_label, decoration_situation_id, housing_img, 
      create_time, update_time, residential_info_id, 
      del_state, olddb_base_id, olddb_phase_id, 
      olddb_room_id, shortkey, sharding_id, 
      stare_times, room_type_name, sell_status, 
      avag_price, covered_area, inside_space, 
      housing_img_id, tags_ids, floor_height, 
      family_property, recommend, recommend_time, 
      how_many_bedrooms, housing_desc, house_type_tag
      )
    values (#{id,jdbcType=VARCHAR}, #{residentialSubId,jdbcType=VARCHAR}, #{housingTypeName,jdbcType=VARCHAR}, 
      #{acreage,jdbcType=REAL}, #{price,jdbcType=REAL}, #{totalPrice,jdbcType=REAL}, 
      #{roomTypeId,jdbcType=VARCHAR}, #{sellOut,jdbcType=VARCHAR}, #{orientation,jdbcType=VARCHAR}, 
      #{houseLabel,jdbcType=VARCHAR}, #{decorationSituationId,jdbcType=VARCHAR}, #{housingImg,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{residentialInfoId,jdbcType=VARCHAR}, 
      #{delState,jdbcType=VARCHAR}, #{olddbBaseId,jdbcType=VARCHAR}, #{olddbPhaseId,jdbcType=VARCHAR}, 
      #{olddbRoomId,jdbcType=VARCHAR}, #{shortkey,jdbcType=VARCHAR}, #{shardingId,jdbcType=VARCHAR}, 
      #{stareTimes,jdbcType=INTEGER}, #{roomTypeName,jdbcType=VARCHAR}, #{sellStatus,jdbcType=VARCHAR}, 
      #{avagPrice,jdbcType=INTEGER}, #{coveredArea,jdbcType=REAL}, #{insideSpace,jdbcType=REAL}, 
      #{housingImgId,jdbcType=VARCHAR}, #{tagsIds,jdbcType=VARCHAR}, #{floorHeight,jdbcType=REAL}, 
      #{familyProperty,jdbcType=VARCHAR}, #{recommend,jdbcType=CHAR}, #{recommendTime,jdbcType=BIGINT}, 
      #{howManyBedrooms,jdbcType=VARCHAR}, #{housingDesc,jdbcType=LONGVARCHAR}, #{houseTypeTag,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fdc.active.domain.HousingTypeInfoWithBLOBs" >
    insert into housing_type_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="residentialSubId != null" >
        residential_sub_id,
      </if>
      <if test="housingTypeName != null" >
        housing_type_name,
      </if>
      <if test="acreage != null" >
        acreage,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="roomTypeId != null" >
        room_type_id,
      </if>
      <if test="sellOut != null" >
        sell_out,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="houseLabel != null" >
        house_label,
      </if>
      <if test="decorationSituationId != null" >
        decoration_situation_id,
      </if>
      <if test="housingImg != null" >
        housing_img,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="residentialInfoId != null" >
        residential_info_id,
      </if>
      <if test="delState != null" >
        del_state,
      </if>
      <if test="olddbBaseId != null" >
        olddb_base_id,
      </if>
      <if test="olddbPhaseId != null" >
        olddb_phase_id,
      </if>
      <if test="olddbRoomId != null" >
        olddb_room_id,
      </if>
      <if test="shortkey != null" >
        shortkey,
      </if>
      <if test="shardingId != null" >
        sharding_id,
      </if>
      <if test="stareTimes != null" >
        stare_times,
      </if>
      <if test="roomTypeName != null" >
        room_type_name,
      </if>
      <if test="sellStatus != null" >
        sell_status,
      </if>
      <if test="avagPrice != null" >
        avag_price,
      </if>
      <if test="coveredArea != null" >
        covered_area,
      </if>
      <if test="insideSpace != null" >
        inside_space,
      </if>
      <if test="housingImgId != null" >
        housing_img_id,
      </if>
      <if test="tagsIds != null" >
        tags_ids,
      </if>
      <if test="floorHeight != null" >
        floor_height,
      </if>
      <if test="familyProperty != null" >
        family_property,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="recommendTime != null" >
        recommend_time,
      </if>
      <if test="howManyBedrooms != null" >
        how_many_bedrooms,
      </if>
      <if test="housingDesc != null" >
        housing_desc,
      </if>
      <if test="houseTypeTag != null" >
        house_type_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="residentialSubId != null" >
        #{residentialSubId,jdbcType=VARCHAR},
      </if>
      <if test="housingTypeName != null" >
        #{housingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="acreage != null" >
        #{acreage,jdbcType=REAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=REAL},
      </if>
      <if test="roomTypeId != null" >
        #{roomTypeId,jdbcType=VARCHAR},
      </if>
      <if test="sellOut != null" >
        #{sellOut,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="houseLabel != null" >
        #{houseLabel,jdbcType=VARCHAR},
      </if>
      <if test="decorationSituationId != null" >
        #{decorationSituationId,jdbcType=VARCHAR},
      </if>
      <if test="housingImg != null" >
        #{housingImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="residentialInfoId != null" >
        #{residentialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="delState != null" >
        #{delState,jdbcType=VARCHAR},
      </if>
      <if test="olddbBaseId != null" >
        #{olddbBaseId,jdbcType=VARCHAR},
      </if>
      <if test="olddbPhaseId != null" >
        #{olddbPhaseId,jdbcType=VARCHAR},
      </if>
      <if test="olddbRoomId != null" >
        #{olddbRoomId,jdbcType=VARCHAR},
      </if>
      <if test="shortkey != null" >
        #{shortkey,jdbcType=VARCHAR},
      </if>
      <if test="shardingId != null" >
        #{shardingId,jdbcType=VARCHAR},
      </if>
      <if test="stareTimes != null" >
        #{stareTimes,jdbcType=INTEGER},
      </if>
      <if test="roomTypeName != null" >
        #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="sellStatus != null" >
        #{sellStatus,jdbcType=VARCHAR},
      </if>
      <if test="avagPrice != null" >
        #{avagPrice,jdbcType=INTEGER},
      </if>
      <if test="coveredArea != null" >
        #{coveredArea,jdbcType=REAL},
      </if>
      <if test="insideSpace != null" >
        #{insideSpace,jdbcType=REAL},
      </if>
      <if test="housingImgId != null" >
        #{housingImgId,jdbcType=VARCHAR},
      </if>
      <if test="tagsIds != null" >
        #{tagsIds,jdbcType=VARCHAR},
      </if>
      <if test="floorHeight != null" >
        #{floorHeight,jdbcType=REAL},
      </if>
      <if test="familyProperty != null" >
        #{familyProperty,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=CHAR},
      </if>
      <if test="recommendTime != null" >
        #{recommendTime,jdbcType=BIGINT},
      </if>
      <if test="howManyBedrooms != null" >
        #{howManyBedrooms,jdbcType=VARCHAR},
      </if>
      <if test="housingDesc != null" >
        #{housingDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="houseTypeTag != null" >
        #{houseTypeTag,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fdc.active.domain.HousingTypeInfoWithBLOBs" >
    update housing_type_info
    <set >
      <if test="residentialSubId != null" >
        residential_sub_id = #{residentialSubId,jdbcType=VARCHAR},
      </if>
      <if test="housingTypeName != null" >
        housing_type_name = #{housingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="acreage != null" >
        acreage = #{acreage,jdbcType=REAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=REAL},
      </if>
      <if test="roomTypeId != null" >
        room_type_id = #{roomTypeId,jdbcType=VARCHAR},
      </if>
      <if test="sellOut != null" >
        sell_out = #{sellOut,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="houseLabel != null" >
        house_label = #{houseLabel,jdbcType=VARCHAR},
      </if>
      <if test="decorationSituationId != null" >
        decoration_situation_id = #{decorationSituationId,jdbcType=VARCHAR},
      </if>
      <if test="housingImg != null" >
        housing_img = #{housingImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="residentialInfoId != null" >
        residential_info_id = #{residentialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="delState != null" >
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
      <if test="olddbBaseId != null" >
        olddb_base_id = #{olddbBaseId,jdbcType=VARCHAR},
      </if>
      <if test="olddbPhaseId != null" >
        olddb_phase_id = #{olddbPhaseId,jdbcType=VARCHAR},
      </if>
      <if test="olddbRoomId != null" >
        olddb_room_id = #{olddbRoomId,jdbcType=VARCHAR},
      </if>
      <if test="shortkey != null" >
        shortkey = #{shortkey,jdbcType=VARCHAR},
      </if>
      <if test="shardingId != null" >
        sharding_id = #{shardingId,jdbcType=VARCHAR},
      </if>
      <if test="stareTimes != null" >
        stare_times = #{stareTimes,jdbcType=INTEGER},
      </if>
      <if test="roomTypeName != null" >
        room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="sellStatus != null" >
        sell_status = #{sellStatus,jdbcType=VARCHAR},
      </if>
      <if test="avagPrice != null" >
        avag_price = #{avagPrice,jdbcType=INTEGER},
      </if>
      <if test="coveredArea != null" >
        covered_area = #{coveredArea,jdbcType=REAL},
      </if>
      <if test="insideSpace != null" >
        inside_space = #{insideSpace,jdbcType=REAL},
      </if>
      <if test="housingImgId != null" >
        housing_img_id = #{housingImgId,jdbcType=VARCHAR},
      </if>
      <if test="tagsIds != null" >
        tags_ids = #{tagsIds,jdbcType=VARCHAR},
      </if>
      <if test="floorHeight != null" >
        floor_height = #{floorHeight,jdbcType=REAL},
      </if>
      <if test="familyProperty != null" >
        family_property = #{familyProperty,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=CHAR},
      </if>
      <if test="recommendTime != null" >
        recommend_time = #{recommendTime,jdbcType=BIGINT},
      </if>
      <if test="howManyBedrooms != null" >
        how_many_bedrooms = #{howManyBedrooms,jdbcType=VARCHAR},
      </if>
      <if test="housingDesc != null" >
        housing_desc = #{housingDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="houseTypeTag != null" >
        house_type_tag = #{houseTypeTag,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fdc.active.domain.HousingTypeInfoWithBLOBs" >
    update housing_type_info
    set residential_sub_id = #{residentialSubId,jdbcType=VARCHAR},
      housing_type_name = #{housingTypeName,jdbcType=VARCHAR},
      acreage = #{acreage,jdbcType=REAL},
      price = #{price,jdbcType=REAL},
      total_price = #{totalPrice,jdbcType=REAL},
      room_type_id = #{roomTypeId,jdbcType=VARCHAR},
      sell_out = #{sellOut,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=VARCHAR},
      house_label = #{houseLabel,jdbcType=VARCHAR},
      decoration_situation_id = #{decorationSituationId,jdbcType=VARCHAR},
      housing_img = #{housingImg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      residential_info_id = #{residentialInfoId,jdbcType=VARCHAR},
      del_state = #{delState,jdbcType=VARCHAR},
      olddb_base_id = #{olddbBaseId,jdbcType=VARCHAR},
      olddb_phase_id = #{olddbPhaseId,jdbcType=VARCHAR},
      olddb_room_id = #{olddbRoomId,jdbcType=VARCHAR},
      shortkey = #{shortkey,jdbcType=VARCHAR},
      sharding_id = #{shardingId,jdbcType=VARCHAR},
      stare_times = #{stareTimes,jdbcType=INTEGER},
      room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      sell_status = #{sellStatus,jdbcType=VARCHAR},
      avag_price = #{avagPrice,jdbcType=INTEGER},
      covered_area = #{coveredArea,jdbcType=REAL},
      inside_space = #{insideSpace,jdbcType=REAL},
      housing_img_id = #{housingImgId,jdbcType=VARCHAR},
      tags_ids = #{tagsIds,jdbcType=VARCHAR},
      floor_height = #{floorHeight,jdbcType=REAL},
      family_property = #{familyProperty,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=CHAR},
      recommend_time = #{recommendTime,jdbcType=BIGINT},
      how_many_bedrooms = #{howManyBedrooms,jdbcType=VARCHAR},
      housing_desc = #{housingDesc,jdbcType=LONGVARCHAR},
      house_type_tag = #{houseTypeTag,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fdc.active.domain.HousingTypeInfo" >
    update housing_type_info
    set residential_sub_id = #{residentialSubId,jdbcType=VARCHAR},
      housing_type_name = #{housingTypeName,jdbcType=VARCHAR},
      acreage = #{acreage,jdbcType=REAL},
      price = #{price,jdbcType=REAL},
      total_price = #{totalPrice,jdbcType=REAL},
      room_type_id = #{roomTypeId,jdbcType=VARCHAR},
      sell_out = #{sellOut,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=VARCHAR},
      house_label = #{houseLabel,jdbcType=VARCHAR},
      decoration_situation_id = #{decorationSituationId,jdbcType=VARCHAR},
      housing_img = #{housingImg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      residential_info_id = #{residentialInfoId,jdbcType=VARCHAR},
      del_state = #{delState,jdbcType=VARCHAR},
      olddb_base_id = #{olddbBaseId,jdbcType=VARCHAR},
      olddb_phase_id = #{olddbPhaseId,jdbcType=VARCHAR},
      olddb_room_id = #{olddbRoomId,jdbcType=VARCHAR},
      shortkey = #{shortkey,jdbcType=VARCHAR},
      sharding_id = #{shardingId,jdbcType=VARCHAR},
      stare_times = #{stareTimes,jdbcType=INTEGER},
      room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      sell_status = #{sellStatus,jdbcType=VARCHAR},
      avag_price = #{avagPrice,jdbcType=INTEGER},
      covered_area = #{coveredArea,jdbcType=REAL},
      inside_space = #{insideSpace,jdbcType=REAL},
      housing_img_id = #{housingImgId,jdbcType=VARCHAR},
      tags_ids = #{tagsIds,jdbcType=VARCHAR},
      floor_height = #{floorHeight,jdbcType=REAL},
      family_property = #{familyProperty,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=CHAR},
      recommend_time = #{recommendTime,jdbcType=BIGINT},
      how_many_bedrooms = #{howManyBedrooms,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>